<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <command
               commandId="org.perfclipse.ui.runScenario"
               label="Run PerfCake Sceanrio"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.perfclipse.ui.handlers.RunHandler"
            id="org.perfclipse.ui.runScenario"
            name="RunScenario">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.perfclipse.ui.perfcakecategory"
            name="PerfCake">
      </category>
      <wizard
            category="org.perfclipse.ui.perfcakecategory"
            class="org.perfclipse.ui.wizards.PerfcakeProjectWizard"
            icon="icons/perfcake.ico"
            id="org.perfclipse.ui.perfcakeproject"
            name="PerfCake project"
            project="true">
      </wizard>
   </extension>

</plugin>
