<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <command
               commandId="org.perfclipse.ui.runScenario"
               label="Run PerfCake Sceanrio"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.perfclipse.ui.handlers.RunHandler"
            id="org.perfclipse.ui.runScenario"
            name="RunScenario">
      </command>
   </extension>

</plugin>
